@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../src/fonts/Outfit-Medium.ttf")
    format("opentype");
}

@font-face {
  font-family: "Outfit";
  font-weight: 400;
  src: url("../src/fonts/Outfit-Regular.ttf")
    format("opentype");
}

body,
html {
  margin: 0;
  width: 100%;
  font-family: "Outfit" !important;
  scroll-behavior: smooth;
}

.custom-btn {
  box-shadow: 0 2.76726px 2.21381px rgba(0, 0, 0, 0.02),
    0 6.6501px 5.32008px rgba(0, 0, 0, 0.03),
    0 12.5216px 10.0172px rgba(0, 0, 0, 0.04),
    0 22.3363px 17.8691px rgba(0, 0, 0, 0.04),
    0 41.7776px 33.4221px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.bold {
  font-weight: 700 !important;
}

header {
  min-height: 4.5rem;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  color: var(--secondary);
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  z-index: 999;
}

@media (max-width: 768px) {
  header {
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding: 0 2rem;
  }

  .nav_menu {
    color: black;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10rem;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
    padding: 2rem;
    width: 92%;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 32px 20px rgba(0, 0, 0, .1);
    transition: all .3s ease-in-out;
  }

  .nav_menu.active {
    top: 5rem;
  }
}

.header_main_heading {
  /* letter-spacing: -0.35rem;s */
  white-space: nowrap;
  
  background-clip: text;
  padding-bottom: 0.625rem;
  font-size: 6.5rem;
  align-items: center;
  font-weight: 700;
}
.redefined_heading{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    280deg,
    #FFC700,
    #B20DFF,
    #00E8DA
  );
}


@media (max-width: 991px) {
  .header_main_heading {
    letter-spacing: -0.10rem;
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  .header_main_heading {
    letter-spacing: -0.10rem;
    font-size: 2.5rem;
  }
}

.header_heading {
  position: absolute;
  top: -97%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 4;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header_main_heading span {
  -webkit-text-fill-color: transparent;
}

.header_image_sticky {
  height: 100vh;
  max-height: 100vh;
  position: sticky;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99 !important;
  overflow: hidden;
}

.header_text_wrapper {
  will-change: transform, opacity;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(-20deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 0;
  z-index: 4;
  max-width: 36rem;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  position: absolute;
}

.header_image_grid {
  z-index: 50;
  max-height: 100vh;
  aspect-ratio: 1 / 1;
  perspective: none;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: auto;
  bottom: auto;
  left: 0%;
  right: 0%;
  will-change: opacity, transform;
  opacity: 1;
}

.w_layout_grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.feature_component {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.stack_card_sticky_strip {
  flex-direction: column;
  align-items: stretch;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-x: hidden;
}

.stack-card_component {
  height: 100vh;
  min-width: 100vw;
  color: var(--secondary);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 0;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
  box-shadow: 0 2px 35rem rgba(0, 0, 0, 0.15);
}

.shadow_lg {
  box-shadow: 0 2px 8rem rgba(0, 0, 0, 0.2);
}

.feature_card {
  background-color: #1a0251;
  transition: box-shadow 0.8s;
  box-shadow: inset 0 0 80px #340a94;
}

.feature_card_color {
  background-color: #1a0251;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  gap: 20px;
  width: calc(250px * 14);
}
.slider .slide {
  width: 350px;
  border-radius: 1rem;
  min-height: 11rem;
}


.animate_logo {
  position: absolute;
  animation: moveX 10s linear 10s infinite alternate,
    moveY 10.8s linear 10s infinite alternate;
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 85%;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 88%;
  }
}

@media (max-width: 600px) {
  @keyframes moveX {
    from {
      left: 0;
    }
    to {
      left: 78%;
    }
  }

  @keyframes moveY {
    from {
      top: 0;
    }
    to {
      top: 78%;
    }
  }
}



.stack-card_centre-logo {
  z-index: 2;
  width: 23em;
  aspect-ratio: 1 / 1;
  background-color: #5640e8;
  border-radius: 100rem;
  justify-content: center;
  align-items: center;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 300px #5341e7, 0 4px 162px 112px rgba(83, 65, 231, .25), inset 0 0 80px rgba(217, 211, 255, .4);
}

@media (max-width: 600px) {
  .stack-card_centre-logo {
    width: 14em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .stack-card_centre-logo img {
    width: 70%;
  }
}


.scroll_images_1 {
  position: absolute;
  top: 60%;
  left: 0%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scroll_images_2 {
  position: absolute;
  top: 60%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.logo_loiale{
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.15rem;
  font-weight: bolder;
}
.logo_color{
  color:#F8F8F8
}